/* items.css */

#items-panel {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    
    /* MODIFICACIÓN CLAVE: Altura máxima para el scroll */
    max-height: 120px; 
    overflow-y: auto; 
    
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 3px; 
    border-radius: 4px; 
    border: 1px solid #6b49ff1f; 
    z-index: 100; 
    display: flex;
    flex-direction: column; 
    gap: 0px; 
    text-align: left;
    min-width: 100px; 
}

/* Estilos de la barra de desplazamiento (opcional, para navegadores basados en Webkit) */
#items-panel::-webkit-scrollbar {
    width: 6px;
}

#items-panel::-webkit-scrollbar-thumb {
    background: #00000000;
    border-radius: 3px;
}

.mineral-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em; 
    font-weight: bold;
    color: #fff;
    padding: 1px 0; 
}

.mineral-icon {
    width: 18px; 
    height: 18px;
    margin-right: 3px; 
    flex-shrink: 0;
}

.mineral-item span {
    text-align: right;
    flex-grow: 1;
}

/* Colores específicos para los textos de recursos */
#item-cobre-label { color: #FFA07A; } 
#item-lead-label { color: #A0A0FF; }
#item-coal-label { color: #3A3A3A; }
#item-sand-label { color: #F7CBA4; } 
#item-graphite-label { color: #b2c6d2; }
#item-titanium-label { color: #8DA1E3; }
#item-thorium-label { color: #FF00FF; }
#item-plastanium-label { color: #90EE90; }
#item-surge-alloy-label { color: #F3E979; }
#item-silicio-label { color: #6b6e70; }